* {
  margin: 0;
  padding: 0;
  border: 0;
}

p, h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  color: #000;
  text-align: center;
  padding-top: 5%;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-align: center;
  padding-top: 5%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.container {
  display: inline-block;
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  height: 100vh;
  width: 100vw;
  background-color: PowderBlue;
  text-align: center;

}

/* #guessContainer {
  display: inline-block;
  
} */

.chances-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #000;
  color: #000;
}

/* #chances {
  text-align: center;
} */

/* #word {
  visibility: hidden;
  letter-spacing: 20px;
} */

/* #letter {
  width: 100px;
  height: 100px;
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;

} */

/* button {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255, 0);
  height: 50px;
  width: 100px;
  text-align: center;
} */

label[for="letter-guess"]
{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: #000;
  background-color: rgb(255, 255, 255, 0);
  height: 50px;
  text-align: center;
  margin: 10px;
}

input[type="text"]
{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
}

#guess
{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  width: 100px;
  text-align: center;
  margin: 10px;
}

#reset {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.3em;
  background-color:white;
  height: 50px;
  padding: 10px;
  text-align: center;
}

#reset:hover{
  background-color:rgba(255, 255, 255, 0);
  color: #000;  
}

#guess:hover{
  background-color: black;
  color: #fff;  
}

/* button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
} */

/* Accessible ring focus helps allow keyboard-only users to have the ring focus on for buttons. Code from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 .*/

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}